* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.noscroll {
    overflow: hidden;
}

figure {
    display: flex;
    flex-direction: column;
    gap: var(--space-2x);
}

main {
    padding-top: var(--space-4x);
    display: flex;
    flex-direction: column;
    scroll-margin-top: var(--space-5x);
    gap: var(--space-5x);
}

.main--othersprojects {
    background-color: var(--couleurs-noir-bleute);
    padding: var(--space-5x) 0;
}

@keyframes hero-animation {
    0% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes hero-animation-text {
    0% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes home-animation-text {
    0% {
        transform: translateY(-30%);
    }

    100% {
        transform: translateY(0%);
    }
}


/* 404 */

.main--error {
    background-color: var(--couleurs-noir-bleute);
    padding: 0;
}

.error {
    width: 100dvw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space-1x);
    font-family: var(--typos-typo2);
    color: var(--couleurs-blanc-intense);
    font-size: var(--sizes-size-6);
}

.error a {
    color: var(--couleurs-blanc-intense);
}