.header__buttons {
    display: flex;
    align-items: center;
    gap: var(--space-2x);
}

.header__switcher {
    content: "";
    display: block;
    width: 50px;
    height: 25px;
    border-radius: var(--radius-3x);
    position: relative;
    z-index: 15;
    background: var(--couleurs-blanc);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.25);

}

.switcher__sphere {
    content: "";
    display: block;
    background: url("/assets/img/avif/drapeau_francais.avif");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.switcher__sphere--active {
    left: 75%;
    background: url("/assets/img/avif/drapeau_anglais.avif");
}

/* card button*/

.card__button {
    text-transform: uppercase;
    display: flex;
    padding: var(--space-1x) var(--space-4x);
    justify-content: center;
    align-items: center;
    color: var(--couleurs-blanc-intense);
    border-radius: 10px;
    border: none;
    background: linear-gradient(180deg, #482CE5 0%, #C315D0 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--typos-typo3);
    font-size: var(--sizes-size2);
    font-weight: lighter;

}

.section__btn-play {
    font-family: var(--typos-typo3);
    font-size: var(--sizes-size2);
    border-radius: 8px;
    background: linear-gradient(45deg, rgba(72, 44, 229, 0.92) -13.28%, rgba(195, 21, 208, 0.92) 100%);
    display: flex;
    padding: 2px 21px;
    color: var(--couleurs-blanc-intense);
    align-items: center;
    justify-content: space-between;
    gap: var(--space-1x);
    max-width: 55dvw;
}

.logo__play {
    width: var(--space-4x);
    height: var(--space-4x);
}

/* form btn */

.form__btn {
    display: flex;
    padding: 10px 37px;
    align-items: center;
    gap: 10px;
    border-radius: var(--radius-1x);
    text-transform: uppercase;
    background-color: var(--couleurs-noir);
    color: var(--couleurs-blanc-intense);
    align-self: flex-end;
}